body {
  background-color: rgb(242, 249, 255) !important;
}

.nav {
  text-align: center;
  padding-left: 3em !important;
  background-color: rgb(131, 191, 247) !important;
  box-shadow: 0px 10px 24px -10px rgba(0, 0, 0, 0.54);
}

.nav-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 40em;
}

.nav-elements {
  display: inline;
  float: left;
  padding: 1em;
}

.nav-elements a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: white;
}

#carrito-icon {
  height: 100;
  color: white;
  margin-left: 40em;
  padding-top: 20px !important;
  padding-bottom: 23px !important;
}

.nav-elements:hover,
.nav-elements a:hover {
  color: white;
  background-color: rgb(95, 178, 255);
}

.item {
  background-color: white;
  /* border: 1px solid rgb(197, 204, 211); */
  padding-top: 0 !important;
  box-shadow: 10px 13px 14px -3px rgba(0, 0, 0, 0.13);
}

.precio {
  color: rgb(90, 90, 90);
}

.img-product {
  padding: 1em;
  max-height: 10em !important;
  max-width: 10em !important;
}

.cajas-productos {
  text-align: center !important;
}

.btn-addCarrito {
  width: 100%;
  padding: 1em !important;
  margin-top: 2em !important;
  border-radius: 0 !important;
  border-top-color: rgb(161, 210, 255) !important;
  color: rgb(161, 210, 255) !important;
}

.btn-addCarrito:hover {
  background-color: rgb(161, 210, 255) !important;
  color: white !important;
}

.btn-addCarrito:active {
  background-color: rgb(131, 191, 247) !important;
  color: white !important;
}

#carrito {
  padding-top: 0.5em;
  position: fixed;
  transition: 0.5s;
  z-index: 10;
  top: 0;
  right: -270px;
  height: 100vh;
  width: 270px;
  background-color: white;
  color: black;
  box-shadow: -5px -3px 19px -10px rgba(0, 0, 0, 0.5);
}

.content-carrito {
  padding: 15px;
  margin-top: 0;
}

.content-carrito p {
  display: inline !important;
}

hr {
  margin: 0 !important;
  padding: 0 !important;
}

.content-carrito:hover {
  background-color: rgb(161, 210, 255);
}

#precio-carrito {
  float: right !important;
}

.img-carrito {
  max-height: 2em !important;
  max-width: 2em !important;
}

.precio-total {
  padding: 1.5em;
}

.btn-comprar {
  color: rgb(161, 210, 255) !important;
  border-color: rgb(161, 210, 255) !important;
}

.btn-comprar:hover {
  background-color: rgb(161, 210, 255) !important;
  color: white !important;
}

.close-icon {
  margin: 0.5em;
  font-size: 20px;
  color: rgb(129, 136, 145);
}

.close-icon:hover {
  color: cornflowerblue;
}

#carrito > hr {
  margin-top: 0.5em !important;
}
